.markdown_editor_cache {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);;
  .markdown_editor {
    margin: auto;
    margin-top: 100px;
    width: 75%;
    height: 100%;
  }
}
.markdown_editor {
  margin: auto;
  height: 100%;
  position: relative;
  textarea {
    display: inline-block;
    width:50%;
    padding: 10px;
    resize: none;
    position: absolute;
    top: 0;
    bottom: 4px;
  }

  .result {
    margin-left: 50%;
    display: inline-block;
    width:50%;
    line-height: 1.3em;
    height: 100%;
    padding: 10px;
    border: 1px grey solid;
    overflow: auto;
    background: white;
  }

  .actions {
    a {
      float: right;
      display: block;
    }
  }
}