@import "apps/markdown_editor/style/markdown_editor";

.markdown_exported {
  p {

  }

  em {
    font-style: italic;
  }

  pre {
    padding: 20px;
    background: #f4f4f4;
    border: 1px #e8e8e8 solid;
  }
}